/*
-----------------------------------------------------------------------------------
|
| Process styles
|
-----------------------------------------------------------------------------------
*/

$circle-diameter: 100px;

#process {
  margin-bottom: 80px;
}

.process-circle {
  width: $circle-diameter;
  height: $circle-diameter;
  margin: 0px auto;
  border-radius: 50%;
  background-color: $primary;
  transition: all 0.25s ease-in-out;

  &:hover {
    transform: scale(1.3);
  }
}

.process-title {
  font-weight: 900;
}

.process-icon {
  color: #fff;
  font-size: 50px;
  line-height: $circle-diameter;
}