/*
-----------------------------------------------------------------------------------
|
| Process styles
|
-----------------------------------------------------------------------------------
*/

$circle-diameter: 100px;

#process {
  margin-bottom: 50px;
}

.process-item {
  margin-bottom: 30px;
}

.process-circle {
  position: relative;
  width: $circle-diameter;
  height: $circle-diameter;
  margin: 0px auto;
  border-radius: 50%;
  background-color: $primary;
  transition: all 0.25s ease-in-out;

  &:hover {
    transform: scale(1.3);
  }

  i.icon-victim {
    position: absolute;
    left: -4px;
    top: 2px;

    &:before {
      font-size: 70px!important;
    }
  }

  i.icon-anonymous {
    position: absolute;
    left: 2px;
    top: 5px;
  }

  i.icon-happy {
    position: absolute;
    left: 1px;
    top: 7px;
  }

}

.process-title {
  font-weight: 900;
}

.process-icon {
  color: #fff;
  font-size: 50px;
  line-height: $circle-diameter;
}